body{
   background:purple;
   padding:10px;
   box-sizing:border-box;
}

header{width:100%;  padding:20px; 10px; border:1px solid;}
nav{}
ul{display:block; width:100%;}
li{display:inline-block; padding:10px; background:#00ffe3;}
section{margin-top:20px;}
p{color:#fff;}
